@charset "utf-8";
/* CSS Document */
/*daohang nav*/
body, ul, li, button {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "微软雅黑";
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

li {
    list-style: none;
}

.zong {
    background: #eaeff2;
    overflow: scroll;
}

.navhead {
    width: 100%;
    background: #0a4c8d;
    height: 66px;
}

.logo {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 40px;
}

.navhead .img {
    float: left;
}

.navhead .navcontaint {
    overflow: hidden;
    margin-top: 30px;
    float: left;
}

.navhead .navcontaint ul li {
    float: left;
    list-style: none;
    margin-left: 10px;
}

.navhead .navcontaint ul li a {
    display: inline-block; /*line-height:35px;*/
    vertical-align: middle;
    padding: 0 20px;
    -moz-border-radius: 3px 3px 0 0; /* Gecko browsers */
    -webkit-border-radius: 3px 3px 0 0; /* Webkit browsers */
    border-radius: 3px 3px 0 0; /* W3C syntax */
    background: #206aa1;
    color: #FFF;
    border: #56a6d0 solid 1px;
    border-bottom: none;
}

.navhead .navcontaint ul li a:hover {
    background: #e3ebf2;
    color: #000;
}

.navhead .navcontaint ul li a:hover span {
    color: #0a4c8d;
}

.navhead .navcontaint ul li a.current {
    background: #e3ebf2;
}

.navhead .navcontaint ul li a.current span {
    color: #0a4c8d;
}

.navhead .navcontaint ul li span {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin: 7px 0 8px 0;
    vertical-align: middle;
}

.mark {
    border-bottom: 1px solid #d5d9dc;
    height: 20px;
    background: #e3ebf2;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*首页内容开始*/
.homezhuti {
    margin: 0 auto;
    margin-top: 10px;
    border: #ccd8e0 solid 1px;
    background: #FFF;
    overflow: hidden;
    width: 1250px;
    height: 600px;
}

.yu {
    margin-bottom: 20px;
    overflow: hidden;
}

.homezhuti .mzuo {
    float: left;
    width: 400px;
    margin-left: 20px;
}

.homezhuti .myou {
    float: left;
    width: 800px;
    margin-left: 20px;
}

.footer {
    width: 1248px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    clear: both;
}

/*首页内容结束*/
.mainzuo {
    float: left;
    width: 250px;
    height: 600px;
    border: #ccd8e0 solid 1px;
    margin-top: 15px;
    margin-left: 20px;
    background: #FFF;
}

.mainzuo h5 {
    background: #eff3f5;
    border-bottom: 1px solid #ccd8e0;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    vertical-align: middle;
    color: #416d8b;
    font-size: 15px;
}

.mainyou {
    float: left;
    width: 950px;
    height: 600px;
    border: #ccd8e0 solid 1px;
    margin-top: 15px;
    margin-left: 10px;
    background: #fff;
}

.mainyou .chaxunimg {
    background: url(../../static/images/chaxun.png) no-repeat;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.mainyou .spp {
    color: #49687f;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
}

.mainyou .youleft {
    float: left;
    margin-left: 15px;
    width: 575px;
    height: 230px;
    background: #fbfcfb;
    border: #a7b6b9 solid 1px;
}

.mainyou .youright {
    float: left;
    margin-left: 15px;
    width: 325px;
    height: 230px;
    background: #f9fbed;
    border: 1px solid #a5bdb9;
}

.mainyou .wenben {
    margin-left: 10px;
    margin-top: 10px;
    color: #505050;
    overflow: hidden;
    clear: both;
    height: 36px;
}

.mainyou .wenben1 {
    margin-left: 10px;
    margin-top: 10px;
    color: #505050;
    overflow: hidden;
    clear: both;
    height: 36px;
}

.mainyou .wenbenn {
    height: 31px;
    line-height: 31px;
    vertical-align: middle;
    display: inline-block;
}

.mainyou .jieguo {
    height: 30px;
    width: 950px;
    margin-top: 15px;
    background: #f0f3f6;
    border-top: #ccd8e0 solid 1px;
    border-bottom: 1px solid #ccd8e0;
}

.mainyou .jieguospa {
    height: 30px;
    line-height: 30px;
    color: #505050;
    margin-left: 15px;
}

.mainyou .biaoj table {
    margin-top: 20px;
    margin-left: 10px;
    width: 930px;
    height: 30px;
    margin: 0 auto;
}

.mainyou .biaoj table tr td {
    line-height: 30px;
    vertical-align: middle;
    border-bottom: #ccd8e0 solid 2px;
    overflow: hidden;
}

.biaoj .numspd {
    font-weight: bold;
    color: #333;
    text-align: center;
}

.biaoj .desspd {
    font-weight: bold;
    color: #999;
}

.biaoj .ownspd {
    font-weight: bold;
    color: #999;
    text-align: center;
}

.biaoj .statusspd {
    font-weight: bold;
    color: #999;
    text-align: center;
}

.biaoj .estspd {
    font-weight: bold;
    text-align: center;
}

.biaoj .remspd {
    font-weight: bold;
    text-align: center;
}

.biaoj .xiaotuh {
    padding-left: 5px;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}

.biaoj .numberh {
    margin-left: 15px;
    color: #999;
}

.biaoj .desh {
    color: #999;
    margin-left: 35px;
}

.biaoj .ownerh {
    text-align: center;
}

.biaoj .statuh {
    text-align: center;
    color: #060;
}

.biaoj .esth {
    text-align: center;
}

.chahistory .remh {
    text-align: center;
}

/*查询历史部分开始*/
.chahistory {
    width: 1250px;
    height: 650px;
    background: #FFF;
    border: #ccd8e0 solid 1px;
    margin: 0 auto;
    margin-top: 15px;
    padding-top: 5px;
}

.chahistory .tab table {
    width: 1210px;
    margin: 0 auto;
}

.chahistory table tr td {
    line-height: 30px;
    vertical-align: middle;
    border-bottom: #ccd8e0 solid 2px;
    overflow: hidden;
}

.chahistory .numspd {
    font-weight: bold;
    color: #333;
    text-align: center;
}

.chahistory .desspd {
    font-weight: bold;
    color: #999;
}

.chahistory .ownspd {
    font-weight: bold;
    color: #999;
    text-align: center;
}

.chahistory .statusspd {
    font-weight: bold;
    color: #999;
    text-align: center;
}

.chahistory .estspd {
    font-weight: bold;
    text-align: center;
}

.chahistory .remspd {
    font-weight: bold;
    text-align: center;
}

.chahistory .xiaotuh {
    padding-left: 5px;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}

.chahistory .numberh {
    margin-left: 15px;
    color: #999;
}

.chahistory .desh {
    color: #999;
    margin-left: 35px;
}

.chahistory .ownerh {
    text-align: center;
}

.chahistory .statuh {
    text-align: center;
    color: #060;
}

.chahistory .esth {
    text-align: center;
}

.chahistory .remh {
    text-align: center;
}

/*查询历史部分结束*/
.tjbuton {
    background: url(../../static/images/tijiao.png) no-repeat;
    width: 63px;
    height: 31px;
    border: none;
    margin-left: 5px;
}

.zhixbuton {
    background: url(../../static/images/jihua.png) no-repeat;
    width: 86px;
    height: 31px;
    border: none;
    margin-left: 5px;
}

.stobutton {
    background: url(../../static/images/stop.png) no-repeat;
    width: 85px;
    height: 31px;
    border: none;
    margin-left: 5px;
}

.lingbutton {
    background: url(../../static/images/lingcun.png) no-repeat;
    width: 101px;
    height: 31px;
    border: none;
    margin-left: 5px;
}

.cuobutton {
    background: url(../../static/images/baocuo.png) no-repeat;
    width: 85px;
    height: 31px;
    border: none;
    margin-left: 5px;
}

.homebg {
    background: url(../../static/images/icon.png) no-repeat -10px -7px;
    padding-left: 20px;
}

.searchbg {
    background: url(../../static/images/icon.png) no-repeat -14px -44px;
    padding-left: 20px;
}

.biaobg {
    background: url(../../static/images/icon.png) no-repeat -12px -68px;
    padding-left: 20px;
}

.historybg {
    background: url(../../static/images/icon.png) no-repeat -12px -92px;
    padding-left: 20px;
}

.shujubg {
    background: url(../../static/images/icon.png) no-repeat -12px -122px;
    padding-left: 20px;
}

.shujunav {
    border-bottom: 1px solid #94a0ae;
    width: 1230px;
    margin-left: 10px;
    height: 30px;
}

.shujunav .nax > span {
    display: inline-block;
    line-height: 29px;
    vertical-align: middle;
    padding: 0 15px;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background: #fafbfd;
    color: #49687f;
    border: #94a0ae solid 1px;
    border-bottom: #eff1f4 1px solid;
}

.shujunav .sp1 {
    margin-left: 10px;
}

.shujunav .nax > .sp2 {
    margin-left: 5px;
    background: #eff1f5;
}

.shujunav .nax > .current {
    margin-left: 5px;
}

.shujunav .nax {
    margin-left: 10px;
}

.textwb {
    margin-top: 15px;
    line-height: 30px;
    color: #282828;
    overflow: hidden;
}

.optio {
    width: 140px;
    height: 20px;
    border: #98a8b3 1px solid;
}

.opti {
    width: 100px;
    height: 20px;
    border: #98a8b3 1px solid;
}

.wenbx {
    border: #98a8b3 1px solid;
    width: 140px;
    height: 20px;
}

.wenbd {
    border: #98a8b3 1px solid;
    width: 180px;
    height: 20px;
}

.crea {
    width: 1250px;
    height: 650px;
    background: #FFF;
    border: #ccd8e0 solid 1px;
    margin: 0 auto;
    margin-top: 15px;
    padding-top: 5px;
}

.tab {
    margin-top: 10px;
}

.bb {
    margin-left: 100px;
}

.crea .tjiao {
    margin-top: 20px;
    margin-left: 80px;
}

.crea table tr {
    line-height: 25px;
}

.crea table tr .spzi {
    display: inline-block;
    text-align: right;
    width: 130px;
}

.xing {
    color: #F00;
}

.zid {
    background: url(../../static/images/ziduan.png) no-repeat;
    border: none;
    height: 31px;
    width: 86px;
    margin-left: 126px;
    margin-top: 10px;
}

.zzd {
    background: #f1f4f7;
    border: #98a8b3 1px solid;
    width: 700px;
    height: 200px;
    margin-top: 15px;
    margin-left: 125px;
    margin-bottom: 15px;
}

.jbbutton {
    background: url(../../static/images/yuju.png);
    width: 127px;
    height: 31px;
    border: none;
    margin-left: 125px;
}

.zhix {
    background: url(../../static/images/zhix.png) no-repeat;
    width: 99px;
    height: 31px;
    border: none;
    margin-left: 20px;
}

.fenye {
    margin-left: 50px;
    margin-top: 20px;
}

.hisspan {
    width: 25px;
    line-height: 25px;
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
}

.hiskt {
    background: url(../../static/images/icon.png) no-repeat -58px -166px;
    border: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
}

.hisht {
    background: url(../../static/images/icon.png) no-repeat -58px -199px;
    border: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
}

.hisqj {
    background: url(../../static/images/icon.png) no-repeat -58px -232px;
    border: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
}

.hisjw {
    background: url(../../static/images/icon.png) no-repeat -58px -266px;
    border: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
}

/*数据库选择*/
.shuju {
    width: 600px;
    height: 400px;
    border: 1px solid #a7b6b9;
    margin: 0 auto;
}

.pagination {
    margin-right: 10px;
}

.pagination1 {
    margin-right: 0px;
    margin-top: 15px
}

.pagination ul {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    float: right
}

.pagination ul > li {
    display: inline;
}

.pagination ul > li > a, .pagination ul > li > span {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 20px;
    padding: 4px 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}

.pagination ul > li > a:hover, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #F5F5F5;
}

.pagination ul > .active > a, .pagination ul > .active > span {
    color: #999999;
    cursor: default;
}

.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #999999;
    cursor: default;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-bottom-left-radius: 2px;
    border-left-width: 1px;
    border-top-left-radius: 2px;
}

.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.pagination-large ul > li > a, .pagination-large ul > li > span {
    font-size: 12px;
    padding: 6px 15px;
    color: #0000ff;
}
