<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true">

<!--    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/tagportrait-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>-->

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.ideal.tag" level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
    </logger>
<!--    <logger name="org.hibernate.SQL" level="DEBUG">
    </logger>
    <logger name="com.ideal.tagportrait.security.ShiroDbRealm" level="INFO"/>-->
    <!--
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="DEBUG"/>
    <logger name="org.hibernate.engine.QueryParameters" level="DEBUG"/>
    <logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG"/>
    -->

    <root level="DEBUG">
        <!-- 设置接收所有输出的通道 -->
        <appender-ref ref="console"/>
    </root>

</configuration>
